<ion-content>
  
  <ion-item>
    <ion-searchbar animated="true" mode="ios" placeholder="Buscar contactos"></ion-searchbar>
  </ion-item>
  
  <ion-list>
    <ion-item>
      <ion-icon name="people-circle-sharp"></ion-icon>
      <ion-label>Joaquin Vargas</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="people-circle-sharp"></ion-icon>
      <ion-label>Ximena Pereira</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="people-circle-sharp"></ion-icon>
      <ion-label>Gonzalo Reyes</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="people-circle-sharp"></ion-icon>
      <ion-label>Raul Gutierrez</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="people-circle-sharp"></ion-icon>
      <ion-label>Camila Herrera</ion-label>
    </ion-item>
  </ion-list>


</ion-content>
