.ion-item-container-icon{
    width: 100vw;
    --min-height: 15vh;
    --background: #22243D;
}

.icon{
    font-size: 50px;
    color: #FFFFFF;
}

.text p{
    padding: 10px 30px;
    font-size: 25px;
    font-weight: bold;
}

.container-form-recover{
    display: flex;
    justify-content: center;
}

.form-recover{
    width: 85vw;
    background: #FFFFFF;
    padding: 30px 10px;
    border-radius: 5px;
    text-align: center;
    
}

.container-inputs{
    --background: #FFFFFF;
    padding-right: 30px;
    font-size: 15px;
    --border-style: none;
}

.container-inputs>ion-input{
    border-bottom: 1px solid #5C617E;
}

.button{
    --background: #22243D;
    --border-radius: 5px;
    margin-top: 30px;
}
