<ion-content>
  <ion-item class="ion-item-container-icon ion-text-center">
    <ion-label>
      <ion-icon class="icon" name="refresh-circle"></ion-icon>
    </ion-label>
  </ion-item>

  <ion-text class="text ion-text-center">
    <p>
      Te enviaremos un correo al mail asociado a tu cuenta, si es que los datos son correctos
    </p>
  </ion-text >

  <div class="container-form-recover">

    
    <form class="form-recover">


      <ion-item class="container-inputs">
        <ion-input name="recover-user" type="text" placeholder="Ingrese nombre usuario" [(ngModel)]="this.user"></ion-input>
        <ion-icon name="person-sharp" slot="start"></ion-icon>
      </ion-item>

      <ion-item class="container-inputs">
        <ion-input name="recover-mail" type="email" placeholder="Ingrese correo electronico" [(ngModel)]="this.email"></ion-input>
        <ion-icon name="mail-sharp" slot="start"></ion-icon>
      </ion-item>
      
      <ion-button type="submit" class="button" (click)="consultarUsuario()">RECUPERAR</ion-button>
      
    </form>
  
  </div>

</ion-content>
