.container-form-register{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.form-register{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10vw;
    width: 90vw;
    height: 50vh;
    background-color: #ffffff;
    border-radius: 5px;
    border: #22243D 1px solid;
}

ion-item{
    --background: #ffffff;
    
    
}

ion-input{
    
}

ion-icon{
    color: #22243D;
}

ion-button{
    position: absolute;
    top: 83%;
    left: 35%;
    z-index: 1;
    --background: #22243D;
}


.ion-item-terms{
    font-size: 10px;
    --border-style: none;
}