.container-form-login{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}

.form-login{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 10vw;
    width: 90vw;
    height: 30vh;
    background-color: #ffffff;
    border-radius: 5px;
    border: #22243D 1px solid;
}

ion-item{
    --background: #ffffff;
    
}

ion-icon{
    color: #22243D;
}

ion-button{
    position: absolute;
    top: 80%;
    left: 35%;
    z-index: 1;
    --background: #22243D;
}

ion-text{
    margin: auto;
    position: absolute;
    top: 91%;
}

