ion-list{
    background: none;
}

.text-center{
    text-align: center;
}

.title-new-post{
    margin-left: 5vw;
}

.container-form-register{
    width: 90vw;
    margin: 20px auto;
    padding: 0 20px;
    border: 1px solid #22243D;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.form-register>div{
    margin-bottom: 20px;
    
}

.file{
    width: 100%;
    height: 20vh;
    margin: auto;
    position: relative;
    border: 1px solid #22243D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file>ion-input{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.file>ion-icon{
    font-size: 30px;
    margin-right: 10px;
}

.title-post{
    border-bottom: 1px solid #22243D;
    color: #22243D;
}

.categories{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #22243D;
}

.description-post{
    height: 20vh;
    padding: 10px;
    border: 1px solid #22243D;
}

.letter-count{
    margin: 0;
    padding: 0;
    text-align: end;
}

.toggle-complete-colection{
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid #22243D;
}

.toggle-complete-colection>ion-toggle{
    --background-checked: #22243D;
    --handle-background-checked:#FFFFFF;
    
}

.radio-item>div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-item>ion-label{
    margin-bottom: 10px;
}

.inputs{
    border-bottom: 1px solid #22243D;
    color: #22243D;
}

.container-button-post{
    text-align: center;
}

.button-post{
    --background: #22243D;
}
    


    

