<ion-content>
  <div class="title-new-post">
    <h1>
      <b>Nueva publicacion</b>
    </h1>
  </div>

  <div class="container-form-register">

    <form class="form-register">
      <div class="add-img">
        <p class="text-center">
          Fotos - <span>{{url_server.length}}</span>/3 puedes agregar hasta 3 fotos
        </p>

        <div class="images" *ngFor="let url of url_server">
          <div class="images" style="background: url({{url}}) no-repeat center;">
          </div>
        </div>
        

        <div class="file">
          <ion-icon name="images-sharp"></ion-icon>
          <ion-label>
            Agregar fotos
          </ion-label>
          <ion-input type="file" id="file-input" name="file[]" accept="image/png, image/jpeg" multiple=""></ion-input>
        </div>

      </div>

      <div class="title-post inputs">
        <ion-label position="floating">Título de la publicación</ion-label>
        <ion-input name="title-post" type="text" [(ngModel)]="this.publicacion.var_titulo_publi"></ion-input>
      </div>
<!--
      <div class="categories">
        <ion-label>Categoria</ion-label>
        <ion-select okText="Elegir" name="cod_categoria" cancelText="Cancelar" [(ngModel)]="this.publicacion.cat_col_int_id_cat_colecc">

          <ion-select-option *ngFor="let c of this.categorias" value="{{c.INT_ID_CAT_COLECC}}">{{c.VAR_NOM_CAT}}
          </ion-select-option>

        </ion-select>
      </div>
-->


      <ion-item>
        <ion-label>Categorias</ion-label>
        <ion-select interface="Action Sheet" [(ngModel)]="this.publicacion.cat_col_int_id_cat_colecc">
          <ion-select-option *ngFor="let c of this.categorias" value="{{c.INT_ID_CAT_COLECC}}" >{{c.VAR_NOM_CAT}}</ion-select-option>
        </ion-select>
      </ion-item>
  



      <div class="description-post">
        <ion-item [counter]="true">
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea name="descripcion" type="text" [(ngModel)]="publicacion.var_des_publi" inputmode="text" maxlength="500"></ion-textarea>
        </ion-item>
      </div>

      <div class="toggle-complete-colection">
        <ion-label>Coleccion completa</ion-label>
        <ion-toggle (ionChange)="this.coleccionCompleta = !this.coleccionCompleta"></ion-toggle>
        <!-- <ion-checkbox [(ngModel)]="this.coleccionCompleta"></ion-checkbox> -->
      </div>

      <div class="type-post">
        <h2 class="text-center">Tipo de publicacion</h2>
      </div>

      <div class="radio-type-post">
        <ion-list>
          <ion-radio-group>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="4" class="radio-item">
                  <div class="event">
                    <ion-label>Evento</ion-label>
                    <ion-radio slot="start" (ionFocus)="this.tipoPublicacion = 3"></ion-radio>
                  </div>
                </ion-col>
                <ion-col size="4" class="radio-item">
                  <div>
                    <ion-label>Discusión</ion-label>
                    <ion-radio slot="start" (ionFocus)="this.tipoPublicacion = 2"></ion-radio>
                  </div>
                </ion-col>
                <ion-col size="4" class="radio-item">
                  <div>
                    <ion-label>Venta</ion-label>
                    <ion-radio slot="start" (ionFocus)="this.tipoPublicacion = 1"></ion-radio>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-radio-group>
        </ion-list>

        <div class="type-sale" *ngIf="this.tipoPublicacion === 1">
          <h2 class="text-center">¿Es subasta?</h2>

          <ion-list style="display:flex;justify-content:center;">
            <ion-toggle (ionChange)="this.esSubasta = !this.esSubasta"></ion-toggle>
          </ion-list>

          
          <div class="price inputs">
            <ion-label position="floating">Precio inicial $</ion-label>
            <ion-input name="price" type="number" [(ngModel)]="this.precioInicial"></ion-input>
          </div>
          
          <div class="price-buy-now inputs">
            <ion-label position="floating">Precio compra inmediata $</ion-label>
            <ion-input name="price-now" type="number" [(ngModel)]="this.precioCompraYa"></ion-input>
          </div>
        </div>
        <div class="container-button-post">
          <ion-button class="button-post" (click)="this.publicarVenta()">
            Publicar
          </ion-button>
        </div>
      </div>
        
    </form>

  </div>

</ion-content>