<ion-content>
  <div class="title-new-post">
    <h1>
      <b>Nueva publicacion</b>
    </h1>
  </div>
    
  <div class="container-form-register">

    <form class="form-register">
      <div class="add-img">
        <p class="text-center">
          Fotos - <span>0</span>/3 puedes agregar hasta 3 fotos
        </p>
        
        <div class="file">
          <ion-icon name="images-sharp"></ion-icon>
          <ion-label>
            Agregar fotos
          </ion-label>
          <img id="imagePreview">
          <ion-input id="image_file" type="file"></ion-input>
        </div>
        
      </div>
      
        

      <div class="title-post inputs">
        <ion-input name="title-post" type="text" placeholder="Titulo"></ion-input>
      </div>
      
      <div class="categories">
        <ion-label>Categoria</ion-label>
        <ion-select okText="Elegir" cancelText="Cancelar">
          <ion-select-option value="Zapatillas">Zapatillas</ion-select-option>
          <ion-select-option value="Billetes">Billetes</ion-select-option>
          <ion-select-option value="Joyas">Joyas</ion-select-option>
          <ion-select-option value="Figuras">Figuras</ion-select-option>
        </ion-select>
      </div>

      <div class="description-post">
        <ion-label position="floating">Descripción</ion-label>
        <ion-textarea></ion-textarea>
        <div class="letter-count">
          <p>0/500</p>
        </div>
      </div>

      <div class="toggle-complete-colection">
        <ion-label>Coleccion completa</ion-label>
        <ion-toggle></ion-toggle>
      </div>

      <div class="type-post">
        <h2 class="text-center">Tipo de publicacion</h2>
      </div>

      <div class="radio-type-post">
        <ion-list>
          <ion-radio-group>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="4" class="radio-item">
                  <div class="event">
                    <ion-label>Evento</ion-label>
                  <ion-radio slot="start" value="evento"></ion-radio>
                  </div>
                </ion-col>
                <ion-col size="4" class="radio-item">
                  <div>
                    <ion-label>Discusion</ion-label>
                  <ion-radio slot="start" value="discusion"></ion-radio>
                  </div>
                </ion-col>
                <ion-col size="4" class="radio-item">
                  <div>
                    <ion-label>Venta</ion-label>
                  <ion-radio slot="start" value="venta"></ion-radio>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>

          </ion-radio-group>
        </ion-list>
  
        <div class="type-sale">
          <h2 class="text-center">Tipo de venta</h2>
        </div>
  
        <ion-list>
          <ion-radio-group>
            <ion-grid fixed>
              <ion-row>
                <ion-col size="6" class="radio-item">
                  <div class="event">
                    <ion-label>Subasta</ion-label>
                  <ion-radio slot="start" value="evento"></ion-radio>
                  </div>
                </ion-col>
                <ion-col size="6" class="radio-item">
                  <div>
                    <ion-label>Discusion</ion-label>
                  <ion-radio slot="start" value="discusion"></ion-radio>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
            
          </ion-radio-group>
        </ion-list>
      </div>
      
      
      <div class="price inputs">
        <ion-input name="price" type="number" placeholder="Precio inicial $"></ion-input>
      </div>

      <div class="price-buy-now inputs">
        <ion-input name="price-now" type="number" placeholder="Precio compra inmediata $"></ion-input>
      </div>

      <div class="container-button-post">
        <ion-button class="button-post">
          Publicar
        </ion-button>
      </div>

    </form>

  </div>

</ion-content>