<!-- <ion-header>
  <ion-toolbar>
    <ion-title>categories</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <h1 class="title"><b>{{datos_categoria.nombreCategoria}}</b></h1>

  <ion-card class="card" *ngFor="let publicacion of publicaciones">
      <div class="container-img">
        <ion-img src="{{publicacion.IMG_PUBLI}}"></ion-img>

      </div>
      
      <div class="description">
        <div class="container-title-card">
          <ion-card-header>
            <ion-card-title class="card-title">
              <a (click)="irAPost(publicacion.INT_ID_PUBLI)" style="color: black">
                {{publicacion.VAR_TITULO_PUBLI}}
              </a>
            </ion-card-title>
            <div *ngIf="publicacion.NRO_PRECIO != null">
              $ {{publicacion.NRO_PRECIO}}
            </div>
            <div *ngIf="publicacion.BOOL_EVENTO != 0">
              EVENTO
            </div>
            <div *ngIf="publicacion.BOOL_DISCUSION != 0">
              DISCUSION
            </div>
            <!-- <ion-item class="ion-item" *ngIf="publicacion.BOOL_EVENTO === 1">
              EVENTO
            </ion-item>
            <ion-item class="ion-item" *ngIf="publicacion.BOOL_DISCUSION === 1">
              DISCUSION
            </ion-item> -->
          </ion-card-header>
        </div>
        <div class="container-button">
          <ion-item class="ion-item">
            <ion-button  class="button" slot="end" size="default" (click)="meGusta(publicacion.INT_ID_PUBLI)"> 
              <span>{{publicacion.INT_MEGUSTA}}</span>
              <ion-icon slot="icon-only" name="flame-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </div>
  </ion-card>

</ion-content>

