<!-- <ion-header>
  <ion-toolbar>
    <ion-title>categories</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <h1 class="title"><b>{{datos_categoria.nombreCategoria}}</b></h1>

  <!-- <ion-card class="card" *ngFor=" let publicacion of publicaciones">
    <div class="container-card" *ngIf="publicacion.CAT_COL_INT_ID_CAT_COLECC === datos_categoria.idCategoria">

      <div class="container-img">
        <ion-img src="{{publicacion.IMG_PUBLI}}"></ion-img>
      </div>
      
      <div class="description">
        <div class="container-title-card">
          <ion-card-header>
            <ion-card-title class="card-title">
              <a></a>
              {{publicacion.VAR_TITULO_PUBLI}}
            </ion-card-title>
            <ion-item>
            </ion-item>
          </ion-card-header>
        </div>
        <div class="container-button">
          <ion-item class="ion-item">
            <ion-button class="button" slot="end" size="default">
              <span></span>
              <ion-icon slot="icon-only" name="flame-outline"></ion-icon>
            </ion-button>
          </ion-item>
        </div>
      </div>

    </div>
  </ion-card> -->

</ion-content>

