<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container-info-profile">
    <div class="container-profile-img">
      <img src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg">
    </div>
    <div class="container-description">

      <h1 class="user-name">Nombre de usuario</h1>
      <form class="description">
        <ion-textarea placeholder="Descripcion"></ion-textarea>
      </form>

      <div class="container-interaction">
        <div class="container-button">
          <ion-button class="button-like">
            <ion-icon slot="icon-only" name="flame-outline"></ion-icon>
          </ion-button>
        </div>

        <div class="container-stars">
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>

      </div>
    </div>
  </div>

  <div class="container-follows">

    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <div class="container-followers">
            <p class="text-center">
              25 
              <br>
              Seguidores
            </p>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="container-followess">
            <p class="text-center">
              25 
              <br>
              Seguidos
            </p>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="container-num-post">
            <p class="text-center">
              25 
              <br>
              Publicaciones
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div class="container-post-user">
    <div>
      <h2 class="text-center">Publicaciones</h2>
    </div>
  </div>
</ion-content>
