.container-info-profile{
    width: 90vw;
    margin: 20px auto 0;
    display: flex;
    flex-direction: row;
}

.container-info-profile>.container-profile-img{
    width: 40%;
}

.container-info-profile>.container-description{
    width: 60%;
}

.container-profile-img{
    padding: 0 10px;
}

.container-profile-img>img{
    width: auto;
    height: 20vh;
    border: 1px solid #22243D;
    border-radius: 25px;
}

.container-description{
    margin-top: 1px;
}

.user-name{
    margin: 0;
    font-weight: 900;
    font-size: 24px;
}

.description{
    margin-bottom: 10px;
}

.description>ion-textarea{
    width: 100%;
    height: 10vh;
    background-color: #FFFFFF;
    border: 1px solid #22243D;
    border-radius: 5px;
}

.container-interaction{
    display: flex;
    flex-direction: row;
}

.button-like{
    font-size: 9px;
    --background: #E7ECEF;
    color: #22243D;
    border: #22243D 1px solid;
    border-radius: 5px;
}


.container-stars{
    margin-top: 3px;
    margin-left: 10px;
    padding: 7px 5px;
    border: 1px solid #22243D;
    border-radius: 5px;
    height: fit-content;
}

.container-follows{
    width: 90vw;
    margin: 10px auto;
    border: #22243D 1px solid;

}

.text-center{
    text-align: center;
}
