<!-- <ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container-info-profile">
    <div class="container-profile-img">
      <img src="https://avatars.dicebear.com/api/bottts/{{usuario.VAR_USER}}.svg">
    </div>
    <div class="container-description">

      <h1 class="user-name">{{usuario.VAR_USER}}</h1>
      <form class="description">
        <ion-textarea placeholder={{usuario.VAR_MAIL_USU}}></ion-textarea>
      </form>

      <div class="container-interaction">
        <div class="container-button">
          <ion-button class="button-like">
            <ion-icon slot="icon-only" name="flame-outline"></ion-icon>
          </ion-button>
        </div>

        <div class="container-stars">
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
          <ion-icon name="star-outline"></ion-icon>
        </div>

      </div>
    </div>
  </div>

  <div class="container-follows">

    <ion-grid fixed>
      <ion-row>
        <ion-col size="4">
          <div class="container-followers">
            <p class="text-center">
              25 
              <br>
              Seguidores
            </p>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="container-followess">
            <p class="text-center">
              25 
              <br>
              Seguidos
            </p>
          </div>
        </ion-col>
        <ion-col size="4">
          <div class="container-num-post">
            <p class="text-center">
              {{cantPublicaciones}} 
              <br>
              Publicaciones
            </p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <div class="container-post-user">
    <div>
      <h2 class="text-center">Publicaciones</h2>
    </div>

  
  <ion-card class="card" *ngFor="let publicacion of publicaciones; index as i" >
    <div >
      <ion-slides mode="ios" pager="ios" scrollbar="ios">

        <ion-slide *ngIf="publicacion.IMG_PUBLI != null">
          <ion-img  src="{{publicacion.IMG_PUBLI}}"></ion-img>
        </ion-slide>

        <ion-slide *ngIf="publicacion.IMG_PUBLI2 != null">
          <ion-img  src="{{publicacion.IMG_PUBLI2}}"></ion-img>
        </ion-slide>

        <ion-slide *ngIf="publicacion.IMG_PUBLI3 != null">
          <ion-img  src="{{publicacion.IMG_PUBLI3}}"></ion-img>
        </ion-slide>

      </ion-slides>
    </div>

    <div class="description">
      <div class="container-title-card">
        <ion-card-header>
          <ion-card-title class="card-title" (click)="this.irAPost(publicacion.INT_ID_PUBLI)" >
              {{publicacion.VAR_TITULO_PUBLI}}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          {{publicacion.VAR_DES_PUBLI}}
        </ion-card-content>
      </div>
      <div class="container-button">
        <ion-item class="ion-item">
          <ion-button class="button" slot="end" size="default">
            <ion-icon slot="icon-only" name="flame-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </div>

  </ion-card>

  

  </div>
</ion-content>
