<ion-content >
  <div class="container-searchbar">
    <ion-item class="item">
      <ion-searchbar animated="true" mode="ios" placeholder="Buscar"></ion-searchbar>
    </ion-item>
  </div>

  <ion-text class="ion-text-center">
    <h1><b>Categorias</b></h1>
  </ion-text>
  
  <div>
    <ion-grid>

      <ion-row>
        <ion-col size="6">
          <ion-card class="card">
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
        
            <div class="description">
              <div class="title">
                <ion-label class="label-title">
                  Billetes
                </ion-label>
              </div>
              <div class="container-button">
                <ion-button routerLink="/tabs/search" class="button">
                  <ion-icon class="icon" name="flame-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
        
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card">
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
        
            <div class="description">
              <div class="title">
                <ion-label class="label-title">
                  Billetes
                </ion-label>
              </div>
              <div class="container-button">
                <ion-button routerLink="/tabs/search" class="button">
                  <ion-icon class="icon" name="flame-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
        
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card class="card">
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
        
            <div class="description">
              <div class="title">
                <ion-label class="label-title">
                  Billetes
                </ion-label>
              </div>
              <div class="container-button">
                <ion-button routerLink="/tabs/search" class="button">
                  <ion-icon class="icon" name="flame-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
        
          </ion-card>
        </ion-col>

      
      </ion-row>

    </ion-grid>

  </div>
  
</ion-content>





