<!-- <ion-content>

  <div class="container-searchbar">
    <ion-item>
      <ion-searchbar animated="true" mode="ios" placeholder="Buscar"></ion-searchbar>
    </ion-item>
  </div>
  



  <ion-text class="ion-text-center">
    <h1><b>Categorias</b></h1>
  </ion-text>



  
  <div>
    <ion-item class="ion-justify-content-center">
      <ion-grid>
      
        <ion-row>
          <ion-col size="6">
            <ion-card routerLink="/profile">
              <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
              <ion-item>
                <ion-label>Billetes</ion-label>
                <ion-icon name="flame" style="font-size: small;"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
  
          <ion-col size="6">
            <ion-card>
              <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
              <ion-item>
                <ion-label>Billetes</ion-label>
                <ion-icon name="flame" style="font-size: small;"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
  
          <ion-col size="6">
            <ion-card>
              <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
              <ion-item>
                <ion-label>Billetes</ion-label>
                <ion-icon name="flame" style="font-size: small;"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
  
          <ion-col size="6">
            <ion-card>
              <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
              <ion-item>
                <ion-label>Billetes</ion-label>
                <ion-icon name="flame" style="font-size: small;"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
  
          <ion-col size="6">
            <ion-card>
              <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
              <ion-item>
                <ion-label>Billetes</ion-label>
                <ion-icon name="flame" style="font-size: small;"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
  
          <ion-col size="6">
            <ion-card>
              <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
              <ion-item>
                <ion-label>Billetes</ion-label>
                <ion-icon name="flame" style="font-size: small;"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
  
          <ion-col size="6">
            <ion-card>
              <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
              <ion-item>
                <ion-label>Billetes</ion-label>
                <ion-icon name="flame" style="font-size: small;"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
  
          <ion-col size="6">
            <ion-card>
              <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
              <ion-item>
                <ion-label>Billetes</ion-label>
                <ion-icon name="flame" style="font-size: small;"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
  
          <ion-col size="6">
            <ion-card>
              <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
              <ion-item>
                <ion-label>Billetes</ion-label>
                <ion-icon name="flame" style="font-size: small;"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
  
          <ion-col size="6">
            <ion-card>
              <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
              <ion-item>
                <ion-label>Billetes</ion-label>
                <ion-icon name="flame" style="font-size: small;"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
  
          <ion-col size="6">
            <ion-card>
              <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
              <ion-item>
                <ion-label>Billetes</ion-label>
                <ion-icon name="flame" style="font-size: small;"></ion-icon>
              </ion-item>
            </ion-card>
          </ion-col>
        
        </ion-row>

      
      </ion-grid>
    </ion-item>
    
  </div>
</ion-content> -->
<ion-content >
  <div class="container-searchbar">
    <ion-item>
      <ion-searchbar animated="true" mode="ios" placeholder="Buscar"></ion-searchbar>
    </ion-item>
  </div>

  <ion-text class="ion-text-center">
    <h1><b>Categorias</b></h1>
  </ion-text>
  
  <div>
    <ion-grid>

      <ion-row>
        <ion-col size="6">
          <ion-card routerLink="/profile">
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
            <ion-item>
              <ion-label>Billetes</ion-label>
              <ion-icon name="flame" style="font-size: small;"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
            <ion-item>
              <ion-label>Billetes</ion-label>
              <ion-icon name="flame" style="font-size: small;"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
            <ion-item>
              <ion-label>Billetes</ion-label>
              <ion-icon name="flame" style="font-size: small;"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
            <ion-item>
              <ion-label>Billetes</ion-label>
              <ion-icon name="flame" style="font-size: small;"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
            <ion-item>
              <ion-label>Billetes</ion-label>
              <ion-icon name="flame" style="font-size: small;"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
            <ion-item>
              <ion-label>Billetes</ion-label>
              <ion-icon name="flame" style="font-size: small;"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
            <ion-item>
              <ion-label>Billetes</ion-label>
              <ion-icon name="flame" style="font-size: small;"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
            <ion-item>
              <ion-label>Billetes</ion-label>
              <ion-icon name="flame" style="font-size: small;"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
            <ion-item>
              <ion-label>Billetes</ion-label>
              <ion-icon name="flame" style="font-size: small;"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
            <ion-item>
              <ion-label>Billetes</ion-label>
              <ion-icon name="flame" style="font-size: small;"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>

        <ion-col size="6">
          <ion-card>
            <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
            <ion-item>
              <ion-label>Billetes</ion-label>
              <ion-icon name="flame" style="font-size: small;"></ion-icon>
            </ion-item>
          </ion-card>
        </ion-col>
      
      </ion-row>

    </ion-grid>

  </div>
  
</ion-content>





