<ion-content >
  <div class="container-searchbar">
    <ion-item class="item">
      <ion-searchbar animated="true" mode="ios" placeholder="Buscar"></ion-searchbar>
    </ion-item>
  </div>

  <ion-text class="ion-text-center">
    <h1><b>Categorias</b></h1>
  </ion-text>


  <div  *ngFor="let coleccion of colecciones; index as i" >
    <ion-row *ngIf="coleccion.BOOL_ACTIVA">
      <ion-grid >
        <ion-col size="4" >
          <ion-card class="card">
            <ion-img src="../../../assets/categories/{{coleccion.VAR_NOM_CAT}}.jpg"></ion-img>
      
            <!-- Titulo Categoria -->
            <div class="description">
              <div class="title">
                <ion-label class="label-title">
                  {{coleccion.VAR_NOM_CAT}}
                </ion-label>
              </div>
              <!-- Boton like -->
              <div class="container-button">
                <ion-button routerLink="/tabs/search" class="button">
                  <ion-icon class="icon" name="flame-outline"></ion-icon>
                </ion-button>
              </div>
            </div>
        
          </ion-card>
        </ion-col>      
      </ion-grid>
  </ion-row>
  </div>


  
</ion-content>





