<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
     
      <ion-tab-button class="color-button" tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      
      <ion-tab-button class="color-button" tab="search">
        <ion-icon name="compass"></ion-icon>
        <ion-label>Explorar</ion-label>
      </ion-tab-button>
     
      <ion-tab-button (click)="this.Perfilusuario()">
        <ion-avatar>
          <img src="../../../assets/usuarios/{{usuario.INT_ID_USU}}.jpg">
          
        </ion-avatar>
      </ion-tab-button>
      
      <ion-tab-button class="color-button" tab="post">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Publicar</ion-label>
      </ion-tab-button>


      <ion-tab-button class="chat color-button" tab="chat">
        <ion-badge>10</ion-badge>
        <ion-icon name="chatbubble-ellipses"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>



    </ion-tab-bar>
  </ion-tabs>
</ion-content>
