<!-- <ion-header>
  <ion-toolbar>
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom,top">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="search">
        <ion-icon name="compass"></ion-icon>
        <ion-label>Explorar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="profile">
        <ion-avatar>
          <img src="https://d500.epimg.net/cincodias/imagenes/2016/07/04/lifestyle/1467646262_522853_1467646344_noticia_normal.jpg">
        </ion-avatar>
      </ion-tab-button>
      <ion-tab-button tab="post">
        <ion-icon name="add-circle"></ion-icon>
        <ion-label>Publicar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="chat">
        <ion-icon name="chatbubble-ellipses"></ion-icon>
        <ion-label>Chat</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
