.img-slide {
    height: 50%;
    width: 50%;
    object-fit: contain;
   }

.container-comment{
    margin:30px
}

.description-post{
    margin:30px
}

.p{
    color:#5C617E;
    font: "DM Sans", sans-serif;
}


.container-interaction{
    display: flex;
    flex-direction: row;
}