@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

ion-app{
    --ion-background-color: #E7ECEF;
    --ion-text-color: #5C617E;
    --ion-font-family: 'DM Sans', sans-serif;
}



