<div class="container-form-register">

  <form [formGroup]="formulario" (ngSubmit)="registrar()">
  <!-- <form class="form-register"> -->

    <ion-item class="container-inputs">
      <ion-label position="floating" *ngIf="formulario.controls.nombres.touched && formulario.controls.nombres.errors?.required">
        <ion-text color="danger">Debes ingresar un nombre</ion-text>
      </ion-label>
      <ion-input name="names" type="text" placeholder="Nombres" formControlName="nombres"></ion-input>
      <ion-icon name="person-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="container-inputs">
      <ion-label position="floating" *ngIf="formulario.controls.apPaterno.touched && formulario.controls.apPaterno.errors?.required">
        <ion-text color="danger">Debes ingresar un apellido</ion-text>
  </ion-label>
      <ion-input name="app-f" type="text" placeholder="Apellido Paterno" formControlName="apPaterno"></ion-input>
      <ion-icon name="person-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="container-inputs">
      <ion-label position="floating" *ngIf="formulario.controls.apMaterno.touched && formulario.controls.apMaterno.errors?.required">
        <ion-text color="danger">Debes ingresar un apellido</ion-text>
  </ion-label>
      <ion-input name="app-m" type="text" placeholder="Apellido Materno" formControlName="apMaterno"></ion-input>
      <ion-icon name="person-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="container-inputs">
      <ion-label position="floating" *ngIf="formulario.controls.rut.errors?.invalidRut && formulario.controls.rut.touched">
        <ion-text color="danger">Ingresa un Rut válido</ion-text>
  </ion-label>
      <ion-input name="recover-rut" type="text" placeholder="Ingrese RUT" formatRut formControlName="rut"></ion-input>
      <ion-icon name="id-card-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="container-inputs">
      <ion-label position="floating" *ngIf="formulario.controls.alias.errors?.required && formulario.controls.alias.touched">
        <ion-text color="danger">Debes ingresar un alias</ion-text>
      </ion-label>
      <ion-input name="new-user" type="text" placeholder="Ingrese nuevo usuario" formControlName="alias"></ion-input>
      <ion-icon name="person-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="container-inputs">
      <ion-input name="new-pass" type="password" placeholder="Ingrese nueva contraseña" formControlName="contrasena1"></ion-input>
      <ion-icon name="key-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="container-inputs">
      <ion-label position="floating" *ngIf="formulario.errors?.noCoincide && formulario.controls.contrasena2?.touched">
          <ion-text color="danger">Las contraseñas no coinciden</ion-text>
    </ion-label>
      <ion-input [class.is-invalid]="formulario.errors?.noCoincide" id="pass-repeat" type="password" placeholder="Repita la contraseña" formControlName="contrasena2"></ion-input>
      <ion-icon name="key-sharp" slot="start"></ion-icon>
     
    </ion-item>

    <ion-item class="container-inputs">
      <ion-label position="floating" *ngIf="formulario.controls.correo.errors?.email && formulario.controls.correo?.touched && formulario.controls.correo.errors?.required">
        <ion-text color="danger">Ingresa un correo válido</ion-text>
  </ion-label>
      <ion-input name="mail" type="email" placeholder="Ingrese correo electronico" formControlName="correo"></ion-input>
      <ion-icon name="mail-sharp" slot="start"></ion-icon>
    </ion-item>

    <ion-item class="ion-item-terms">
      <ion-label position="floating" *ngIf="formulario.controls.boolContrato.touched && formulario.controls.boolContrato.errors?.required">
        <ion-text color="danger">Debes aceptar los términos y condiciones</ion-text>
  </ion-label>
      <ion-checkbox class="checkbox" mode="md" formControlName="boolContrato"></ion-checkbox>
      <ion-label>Acepto los términos y condiciones</ion-label>
    </ion-item>
    
    <!-- <ion-button class="submit" (click)="registrar()">REGISTRAR</ion-button> -->
    <ion-button class="submit" [disabled]="formulario.invalid" (click)="registrar()">REGISTRAR</ion-button>
    
  </form>


</div>
