.container-form-register{
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-register{
    width: 80vw;
    background: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 5px;
    text-align: center;
    
}

.container-inputs{
    --background: #FFFFFF;
    margin-top: 10px;
    padding-right: 30px;
    font-size: 14px;
    --border-style: none;
}

.container-inputs>ion-input{
    border-bottom: #5C617E 1px solid;
}

.button{
    --background: #22243D;
    --border-radius: 5px;
    margin-top: 15px;
}

.ion-item-terms{
    --border-style: none;
    --background: none;
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
}

.checkbox{
    // margin-right: 5px;
    --background-checked: #5C617E;
    --border-color-checked: #5C617E;
}