<ion-content>
  <ion-item class="ion-item">
    <ion-label>
      <b>Hola </b>
      <em>{{this.nombreUsuario}}!<br> </em>
      <b>Bienvenido a mi colección!</b>
      <!-- <a href=""></a> -->
    </ion-label>
    <!-- <ion-button (click)="this.cerrarSesion()">Cerrar sesión</ion-button> -->
  </ion-item>
  
  <h1 class="title"><b>Tendencias</b></h1>
  
  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-contentent loadingSpinner="bubbles" loadingText="Cargando más publicaciones..."> -->
      <ion-card class="card" *ngFor="let p of publicaciones">
        <div class="container-img">
          <ion-img src="{{p.IMG_PUBLI}}"></ion-img>
        </div>
        
        <div class="description">
          <div class="container-title-card">
            <ion-card-header>
              <ion-card-title class="card-title">
                <a (click)="irAPost(p.INT_ID_PUBLI)" style="color:black">{{p.VAR_TITULO_PUBLI}}</a>
              </ion-card-title>
              <ion-item>
                {{p.VAR_DES_PUBLI}}
              </ion-item>
            </ion-card-header>
          </div>
          <div class="container-button">
            <ion-item class="ion-item">
              <ion-button class="button" slot="end" size="default" (click)="meGusta(p.INT_ID_PUBLI)">
                <span>{{p.INT_MEGUSTA}}</span>
                <ion-icon slot="icon-only" name="flame-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </div>
        </div>
      </ion-card>

      <!-- </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>