<ion-content>
  <ion-item>
    <ion-label>
        <b>Hola</b>, <i>Usuario</i>
    </ion-label>
  </ion-item>

  <ion-text class="titulo ion-text-center">
    <h1><b>Tendencias</b></h1>
  </ion-text>
  
  <ion-card>
    <ion-img routerLink="/tabs/view-post" src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>

    <div class="description">
      <div routerLink="/tabs/view-post" class="title">
        <ion-card-header>
          <ion-card-subtitle>$ 9900</ion-card-subtitle>
          <ion-card-title>Billete Francia</ion-card-title>
        </ion-card-header>
      </div>
      <div class="container-button">
        <ion-item>
          <ion-button class="button" slot="end" size="default">
            <ion-icon slot="icon-only" name="flame-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </div>

  </ion-card>

  <ion-card>
    <ion-img src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>

    <div class="description">
      <div class="title">
        <ion-card-header>
          <ion-card-subtitle>$ 9900</ion-card-subtitle>
          <ion-card-title>Billete Francia</ion-card-title>
        </ion-card-header>
      </div>
      <div class="container-button">
        <ion-item>
          <ion-button class="button" slot="end" size="default">
            <ion-icon slot="icon-only" name="flame-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </div>

  </ion-card>

</ion-content>