<ion-content>
  <ion-item class="ion-item">
    <ion-label>
        <b>Hola</b>
    </ion-label>
  </ion-item>

  <h1 class="title"><b>Tendencias</b></h1>
  
  <ion-card class="card">
    <div class="container-img">
      <ion-img routerLink="/tabs/view-post" src="../../../assets/categories/vinilo.png"></ion-img>
    </div>
    
    <div class="description">
      <div routerLink="/tabs/view-post" class="container-title-card">
        <ion-card-header>
          <ion-card-subtitle>$ Precio</ion-card-subtitle>
          <ion-card-title class="card-title">Titulo</ion-card-title>
        </ion-card-header>
      </div>
      <div class="container-button">
        <ion-item class="ion-item">
          <ion-button class="button" slot="end" size="default">
            <ion-icon slot="icon-only" name="flame-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </div>

  </ion-card>

  <ion-card class="card">
    <div class="container-img">
      <ion-img routerLink="/tabs/view-post" src="../../../assets/categories/pexels-peggy-anke-3827506.jpg"></ion-img>
    </div>

    <div class="description">
      <div routerLink="/tabs/view-post" class="container-title-card">
        <ion-card-header>
          <ion-card-subtitle>$ Precio</ion-card-subtitle>
          <ion-card-title class="card-title">Titulo</ion-card-title>
        </ion-card-header>
      </div>
      <div class="container-button">
        <ion-item class="ion-item">
          <ion-button class="button" slot="end" size="default">
            <ion-icon slot="icon-only" name="flame-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </div>
    </div>

  </ion-card>

</ion-content>