ion-item {
    --border-style: none;
}

ion-card{
    --background: ;
    border: 1px solid #22243D;
    background-color: #FFFFFF;
    margin-bottom: 50px;
}

.description{
    display: flex;
    flex-direction: row;
}

.description>div{
    width: 50%;
}

.title{
    --color: aquamarine;
}

ion-card-title{
    --color: #5C617E;
}

.container-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button{
    --background: #FFFFFF;
    --box-shadow: none;
}

ion-icon{
    font-size: 30px;
    color: #22243D;
}


// 22243D - 5C617E