.title{
    text-align: center;
    margin-bottom: 20px;
}


.ion-item {
    --border-style: none;
}

.card{
    width: 90vw;
    margin: auto;
    border: 1px solid #22243D;
    margin-bottom: 50px;
}

.container-img{
    width: 100%;
}


.description{
    display: flex;
    flex-direction: row;
    border-top: #22243D 1px solid;
}

.description>div{
    width: 50%;
}

.card-title{
    --color: #5C617E;
}

.container-button{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button{
    --background: none;
    --box-shadow: none;
    --ripple-color: #5C617E;
    --border-radius: 100%;
    color: #22243D;
}