
<ion-content>
  <ion-item class="ion-item-container-icon ion-text-center">
    <ion-label>
      <ion-icon class="icono" name="person-circle"></ion-icon>
    </ion-label>
  </ion-item>

  <ion-text class="texto ion-text-center">
    <p>
      Datos Personales
    </p>
  </ion-text>

  <div class="container-form-personal">

    <form class="form-personal">


      <ion-item class="inputs">
        <ion-input name="names" type="text" placeholder="Nombres"></ion-input>
        <ion-icon name="person-sharp" slot="start"></ion-icon>
      </ion-item>

      <ion-item class="inputs">
        <ion-input name="app-f" type="text" placeholder="Apellido Paterno"></ion-input>
        <ion-icon name="person-sharp" slot="start"></ion-icon>
      </ion-item>

      <ion-item class="inputs">
        <ion-input name="app-m" type="text" placeholder="Apellido Materno"></ion-input>
        <ion-icon name="person-sharp" slot="start"></ion-icon>
      </ion-item>
  
      <ion-item class="inputs">
        <ion-input name="recover-rut" type="text" placeholder="Ingrese RUT"></ion-input>
        <ion-icon name="id-card-sharp" slot="start"></ion-icon>
      </ion-item>
      
      <ion-button class="button" routerLink="/tabs">INGRESAR DATOS</ion-button>
      
    </form>
  
  
  </div>
</ion-content>
