
<ion-content>
  <ion-item class="ion-item-container-icon">
    <ion-icon name="refresh-circle-sharp"></ion-icon>
  </ion-item>

  <div class="container-form-register">

    <form class="form-register">


      <ion-item>
        <ion-input name="names" type="text" placeholder="Nombres"></ion-input>
        <ion-icon name="person-sharp" slot="start"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input name="app-f" type="text" placeholder="Apellido Paterno"></ion-input>
        <ion-icon name="person-sharp" slot="start"></ion-icon>
      </ion-item>

      <ion-item>
        <ion-input name="app-m" type="text" placeholder="Apellido Materno"></ion-input>
        <ion-icon name="person-sharp" slot="start"></ion-icon>
      </ion-item>
  
      <ion-item>
        <ion-input name="recover-rut" type="text" placeholder="Ingrese RUT"></ion-input>
        <ion-icon name="id-card-sharp" slot="start"></ion-icon>
      </ion-item>
      
      <ion-button routerLink="/tabs">INGRESAR DATOS</ion-button>
      
    </form>
  
  
  </div>
</ion-content>
